:root {
  --color0: #fff;
  --color1: #eee;
  --color2: #000;
  --font: "montserrat";
}

@font-face 
{
  font-family: "montserrat";
  src: url("/font/montserrat.ttf");
}

img {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#grid
{
  padding: 10px;
  column-count: 4;
  column-gap: 10px;
}

.card {
  border: 2px solid var(--color2);
  text-align: left; 
  width: 100%;
  margin: 0 0 10px;
  display: inline-block;
}


.card_body {
  background-color: var(--color1);
  color: var(--color2);
  padding: 20px;
}

.card_head
{  
  background-color: var(--color2);
  padding: 20px;
}

.card_title
{
  font-size: 25px;
  font-weight: bold;
  color: var(--color2);
}

body {
  background-color: var(--color0);
  font-family: var(--font);
}

#container {
  width: 90%;
  margin: 0px auto;
}

h2 {
  margin: 0;

}

p {
  margin: 0;
}
