:root {
  --pink: #ffc8ea;
  --green: #cef8d2;
  --dark_green: #276a33;
  --font: "montserrat";
}

@font-face 
{
  font-family: "montserrat";
  src: url("/font/montserrat.ttf");
}

img {
  max-width: 100%;
}

#grid
{
  padding: 10px;
  column-count: 4;
  column-gap: 10px;
}

.card {
  border: 2px solid var(--dark_green);
  text-align: left; 
  width: 100%;
  margin: 0 0 10px;
  display: inline-block;
}

.card_body {
  background-color: var(--green);
  color: var(--dark_green);
  padding: 20px;
}

.card_head
{  
  background-color: var(--dark_green);
  padding: 20px;
}

.card_title
{
  font-size: 25px;
  font-weight: bold;
  color: var(--dark_green);
}

body {
  background-color: var(--pink);
  font-family: var(--font);
}

#container {
  width: 100%;
  margin: 0px auto;
}

h2 {
  margin: 0;

}

p {
  margin: 0;
}
