:root {
  --font: 'Source Code Pro';

  --bg0: #000000;
  --bg1: #22222288;
  --bg2: #333333;
  --fg: #eeeeee;

  --green: #A7DFB1;
  --pink: #dfa7d5;
  --blue: #A7B9DF;
  --yellow: #dfcda7;
  --grey: #c3c3c3;


  --purple: #d3869b;
  --purple_bg: #c882c6;

  --text_strips_color1: #d0a8cf;
  --text_strips_color2: #c28dc0;
}

@font-face 
{
  font-family: "pixel nes";
  src: url("/font/pixel_nes.otf");
}

@font-face 
{
  font-family: "Source Code Pro";
  src: url("/font/source_code_pro.ttf");
}

@keyframes text_strips 
{
  0%, 33% {
    background-image: linear-gradient(var(--text_strips_color1), var(--text_strips_color1) 50%, var(--text_strips_color2) 50%, var(--text_strips_color2));
    background-size: 100% 6px;
    background-clip: text;
    color: transparent;
  }
  34%, 66% {
    background-image: linear-gradient(var(--text_strips_color2), var(--text_strips_color2) 33%, var(--text_strips_color1) 33%, var(--text_strips_color1) 66%, var(--text_strips_color2) 66%, var(--text_strips_color2) 100%);
    background-size: 100% 6px;
    background-clip: text;
    color: transparent;
  }
  67%, 100% {
    background-image: linear-gradient(var(--text_strips_color2), var(--text_strips_color2) 50%, var(--text_strips_color1) 50%, var(--text_strips_color1));
    background-color: #ff0000;
    background-size: 100% 6px;
    background-clip: text;
    color: transparent;
  }
}

@keyframes flicker
{
  0%, 89% {
    opacity: 1;
  }
  90%, 91% {
    opacity: 0.5;
  }
  92%, 93% {
    opacity: 1;
  }
  94%, 95% {
    opacity: 0.5;
  }
  96%, 100% {
    opacity: 1;
  }
}

#container {
  width: 900px;
  margin: 0px auto;

}

#title {
  font-size: 60px;
  letter-spacing: 5px;
  font-family: "pixel nes";
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 20px, rgba(224, 0, 230, 0.35) 0px 0px 30px, rgba(0, 230, 178, 0) 0px 0px 40px, rgba(0, 230, 189, 0.24) 0px 0px 50px, rgba(178, 0, 230, 0.16) 0px 0px 60px, rgba(167, 0, 230, 0.34) 0px 0px 70px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--pink);
  animation: 3s infinite flicker, 1s infinite text_strips;
}

body {
  background: var(--bg0);
  background-image: url("/img/bg.png");
  background-size: cover;
  image-rendering: pixelated;

  color: var(--fg);
  font-family: var(--font);
}

h1, h2, h3, h4, h5 {
  display: inline;
}
.box {
  background: var(--bg1);
  border: 2px solid rgb(56, 56, 56);
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px;
}

.box > h2 {
  padding: 0px;
  font-family: "pixel nes";
  animation: 0.75s linear infinite text_strips;
}


#links > p {
  margin: 0 auto
}

#grid {
  display: flex;
}

#main_col {
  flex: 3;
}

#side_col {
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--green)
}

a:hover {
  text-decoration: underline;
}

hr {
}
/* blog stuff */
#blog_box {
  border: 2px solid var(--bg2);
  border-radius: 10px;
  background-color: var(--bg1);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.blog_list_divider {
  border: 1.5px dashed grey;
}

.blog_title {
  color: var(--pink);
  text-decoration: none;
}

.blog_date {
  color: var(--green)
}

.blog_tag {
  color: var(--blue);
}

.blog_body{
  color: var(--grey);
}

#music_container
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px auto;
}

.music_item
{
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.music_item_overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  opacity: 0.7;
  font-size: 30px;

  /* @note: needs to be same as music_item.
   * Honestly this is really stupid and I can't
   * believe it's 2024 and it's so hard to justify
   * text vertically */
  line-height: 53px; 
}

.music_item_thumbnail
{
  width: 100%;
  display: block;
  height: auto;
}

.music_item_overlay:hover {
  cursor: pointer;
}
