#grid {
  margin: 16px 16px 16px 16px;
}

.cell {
  /* width and height is determined in js */
  outline: 1px solid rgb(110, 220, 253);
  display: inline-block;
  vertical-align: top;
}

.cell-obstacle{
  animation-name: paintToObstacle;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.cell-difficult {
  /*background-image: url("~assets/circle.svg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.cell-start {
  animation-name: paintToStart;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.cell-end {
  animation-name: paintToEnd;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.cell-visited {
  animation-name: paintToVisited;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.cell-considering {
  animation-name: paintToConsidering;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


.cell-path {
  animation-name: paintToPath;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


@keyframes paintToObstacle {
  from{background-color: white;}
  to {background-color: grey;}
}


@keyframes paintToStart {
  from{background-color: white;}
  to {background-color: orange;}
}
@keyframes paintToEnd {
  from{background-color: white;}
  to {background-color: purple;}
}
@keyframes paintToVisited {
  from{background-color: rgb(149, 181, 187);}
  to {background-color: rgb(38, 162, 184);}
}
@keyframes paintToConsidering {
  from{background-color: white;}
  to {background-color:  rgb(149, 181, 187);}
}

@keyframes paintToPath {
  from{background-color:rgb(38, 162, 184);}
  to {background-color:  rgb(66, 204, 47);}
}



#cmdbar {
  overflow: hidden;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
 
#cmdbar .clickable {
  float: left;
  padding: 10px 16px;
}
#cmdbar .clickable:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}
#cmdbar .selected {
  background-color: aqua;
  color: black;
}

  

#cmdbar .title {
  float: left;
  padding: 10px 16px;
  width: 100px;
  background-color: #444;
}

#mazebar {
  overflow: hidden;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
 
#mazebar .clickable {
  float: left;
  padding: 10px 16px;
}
#mazebar .clickable:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}
#mazebar .selected {
  background-color: aqua;
  color: black;
}


#paintbar {
    overflow: hidden;
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    
}

#paintbar .clickable {
    float: left;
    padding: 10px 16px;
}

  
#paintbar .clickable:hover {
  background-color: red;
  cursor: pointer;
}
#paintbar .selected {
  background-color: aqua;
  color: black;
}

#paintbar .title {
    float: left;
    padding: 10px 16px;
    width: 100px;
    background-color: #444;
}

#paintbar .button-circle-obstacle {
  width: 20px;
  height: 20px;
  background-color: grey;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

#paintbar .button-circle-difficult {
  width: 20px;
  height: 20px;
  background-color: black;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

#paintbar .button-circle-start {
  width: 20px;
  height: 20px;
  background-color: orange;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

#paintbar .button-circle-end {
  width: 20px;
  height: 20px;
  background-color: purple;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

#paintbar .button-circle-none {
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
} 

#mazebar .title {
  float: left;
  padding: 10px 16px;
  width: 100px;
  background-color: #444;
}

#pathfindbar {
  overflow: hidden;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
 
#pathfindbar .clickable {
  float: left;
  padding: 10px 16px;
}
#pathfindbar .clickable:hover {
  color: red;
  cursor: pointer;
  color: white;
}

#pathfindbar .selected {
  background-color: aqua;
  color: black;
}

#pathfindbar span:hover {
   background-color: red;
   cursor: pointer;
}


#pathfindbar .title {
  float: left;
  padding: 10px 16px;
  width: 100px;
  background-color: #444;
}
