:root 
{
  --color0: var(--bg);
  --color1: var(--fg);


  --bg: #282828;
  --fg: #ddc7a1;
  --red: #ea6862;
  --orange: #e78a4e;
  --yellow: #d8a657;
  --green: #a9b667;
  --aqua: #89b482;
  --blue: #7daea3;
  --purple: #d3869b;

  --code_font: "Source Code Pro", monospace;
  --content_font: "Source Code Pro", monospace;
}

@font-face 
{
  font-family: "Source Code Pro";
  src: url("/font/source_code_pro.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;

}

h1 {
  color: var(--yellow);
  margin: 0 auto;
}

h2 {
  color: var(--purple);
  margin: 0 auto;
}


img {
  max-width:100%
}

time {
  color:var(--red);
  margin: 0 auto;
  font-size: 20px;
}

code {
  font-size: 16px;
  font-family: var(--code_font);

}
body {
  background-color: var(--color0);
  color: var(--color1);
  font-family: var(--content_font);
}

#title {
  color: var(--green);
  font-size: 60px;
  text-align: center;
}

#container {
  width: 900px;
  margin: 0px auto;
  border: 1px;
}

