
body {
  font-family: Consolas, monospace;
  background-color: lightgrey;
  margin: 0 auto;
}

pre {
  background-color: #e0e0e0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.timeline {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* The line */
.timeline::before {
  --tail-length: 2rem;
  content: '';
  position: absolute;
  left: 1rem;
  top: 1rem;
  bottom: 0;
  width: 0.25rem;
  /*background: #ccc; /* Change color to match your theme */

  background-image: linear-gradient(to bottom, 
    #ccc 0%, 
    #ccc calc(100% - var(--tail-length)), 
    transparent calc(100% - var(--tail-length))
  ), 
  repeating-linear-gradient(to bottom, 
    #ccc, 
    #ccc 4px, 
    transparent 4px, 
    transparent 8px
  );
  background-size: 100% 100%, 100% var(--tail-length);
  background-position: top, bottom;
  background-repeat: no-repeat;
}

.projects .item {

  padding-left: 1rem;
}
.projects .title {
  font-size: 1.1rem;
  font-weight: bold;

}

.timeline .item, h3 {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

/* The dots (nodes) */
.timeline .item::before {
  content: '';
  position: absolute;
  left: -0.5rem;
  top: 0.15rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
  border: 2px solid lightgrey;
  z-index: 1;
  
}

.timeline .place {
  font-size: 1.1rem;
  font-weight: bold;
}

footer {
  color: grey;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
}

.soft {
  color: grey;
  font-style: italic;
}

.date {
  color: grey;
}



#container 
{
  color: black;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
}

ul {
  list-style: "> ";
  list-style-position: outside;
  margin-top: 0;
}


.sketch > canvas {
  border: solid 2px grey;
}

.sketch {
  display: flex;
  justify-content: center;
}
