<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mopiko.css">
    <link rel="stylesheet" href="/css/bbt_lightbox.css">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <!--<script type="text/javascript" src="/js/lightbox.js"></script>-->
    <script type="text/javascript" src="/js/bbt.js"></script>
    <script type="text/javascript" src="/js/bbt_lightbox.js"></script>
    <title>momoko mopiko</title>

  </head>

  <body>
    <div id="container">
      <img id="profile" src="/img/mopiko/profile.png">
      <div id="title">im momoko mopiko!</div>
      <hr class="smol_line"> 
      <div id="sub_title">- an ffxiv character page -</div>
      <div id="nav"> 
        <div> about </div>
        <div> photos </div>
        <div> hooks </div>
        <div> etc </div>
      </div>
    
      <hr>
      
      <a id="about">
      <h1> ~ about ~ </h1>
        {{ with .GetPage "mopiko.md" }} 
          {{ .Content }} 
        {{ end }} 
      
      <a id="photos">
      <h1> ~ photos ~ </h1>

      <div id="gallery_v">
        {{ range resources.Match "img/mopiko/gallery/v/*.{png,jpg}" }}
        <img class="gallery_img" src="{{ .Permalink }}" onclick="lb.open( {{.Permalink }} )">

        {{ end }}
      </div>
      <div id="gallery_h">
        {{ range resources.Match "img/mopiko/gallery/h/*.{png,jpg}" }}
          <img class="gallery_img" src="{{ .Permalink }}" onclick="lb.open( {{.Permalink }} )">
        {{ end }}
      </div>
  </body>
  <script type="text/javascript">
    const lb = lightbox();
    container.appendChild(lb);
  </script>
</html>
