<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mopiko.css">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <title>momoko mopiko</title>

  </head>

  <body>
    <div id="container">
      <img id="profile" src="/img/mopiko/profile.png">
      <div id="title">im momoko mopiko!</div>
      <hr class="smol_line"> 
      <div id="sub_title">- an ffxiv character page -</div>
      <hr>
      {{ block "main" .}} {{end}}
    </div>

  </body>
</html>
