
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <title>moom</title>

  </head>

  <body>
    <div id="content">
      <div id="title">momo</div>
        {{ with .GetPage "about.md" }} 
          {{ .Content }} 
        {{ end }} 
        <hr > 
        <p> some times i just want to make stuff... </p>
        <br>
        <section class="section-green"> 
          {{ with .GetPage "stuff.md" }} 
            <h1> {{ .Title }} </h1>
            {{ .Content }} 
          {{ end }} 
        </section>
        <hr>
        <section class="section-purple"> 
        <section>
      </div>
    </div>


  </body>
</html>

