
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="/js/mugi.js"></script>
    <link rel="stylesheet" href="/css/test.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <title>moom</title>

  </head>

  <body>
    
    <div id="content"></div>
  </body>



  <script>

    const terminal = (function() {
      let terminal_element = div().attr("id", "terminal");
      let command_handler = null;

      let history = [];
      let result = {};


      result.init = function(parent, handler, welcome_msg)
      {
        parent.appendChild(terminal_element);
        command_handler = handler;
        result.push_html(welcome_msg);
        init_input()
      }

      result.push_element = function(content)
      {
        const element = div(content); 
        terminal_element.push(element);
      }

      result.push_html = function(content)
      {
        const element = div();
        element.html(content);
        terminal_element.push(element);
      }

      function init_input()
      {
        const input_prefix = "$ ";
        const user = 
          input()
            .attr("id", "user-input")
            .attr("type", "text")
            .attr("spellcheck", "false")
            .attr("autocomplete", "off");

        const element = div(
          span(input_prefix),
          user
        ).attr("class", "terminal-section terminal-input")

        document.addEventListener("keydown", (e) =>
        {
          if (e.ctrlKey || e.altKey || e.metaKey) 
            return;

          if (e.key.length == 1) {
            user.value += e.key;
          }
          else if (e.key === "Enter") 
          {
            const command = user.value;

            // replace the input with a normal line
            element.remove();
            result.push_element(div(input_prefix + command).attr("class", "terminal-section terminal-input"));
            user.value = "";

            // do the command
            command_handler(result, command);

            // then add back the input
            terminal_element.push(element);
            element.scrollIntoView({behavior: "smooth"});
          }
          else if (e.key === "Backspace")
          {
            user.value = user.value.slice(0, -1);
          }
        });



        terminal_element.push(element);
      }



      return result;

    })();

    const cmd_error = {{ with .GetPage "error.html" }} {{ .Content }} {{ end }};
    const cmd_help = {{ with .GetPage "help.html" }} {{ .Content }} {{ end }};
    const cmd_about = {{ with .GetPage "about.html" }} {{ .Content }} {{ end }};
    const welcome = {{ with .GetPage "welcome.html" }} {{ .Content }} {{ end }};
    const cmd_projects = {{ with .GetPage "projects.html" }} {{ .Content }} {{ end }};
    

    function handler(terminal, cmd)
    {
      if (cmd === "help")
      {
        terminal.push_html(cmd_help);
      }
      else if (cmd == "about")
      {
        terminal.push_html(cmd_about);
      }
      else if (cmd == "projects")
      {
        terminal.push_html(cmd_projects);
      }
      else 
      {
        terminal.push_html(cmd_error);
      }
    }
    terminal.init(content, handler, welcome);
  </script>
</html>

