{{ define "title" }} {{ .Title }} {{ end }} 

{{ define "main" }}

<div class="container">
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/industry/taishi" "Img" "/img/industry/btn-taishi.jpg" "Text" "Nobunaga's Ambition: Taishi" )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/industry/rtk13" "Img" "/img/industry/btn-rtk13.jpg" "Text" "RTK 13" )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/industry/nyaga" "Img" "/img/industry/btn-nyaga.jpg" "Text" "Nobunyaga's Ambition" "Pos" "center" )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/industry/akb48" "Img" "/img/industry/btn-akb48.jpg" "Text" "AKB48's Ambition" )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/industry/gundam-heroes" "Img" "/img/industry/btn-gundam-heroes.jpg" "Text" "Gundam Heroes" "Pos" "center" )}} 
</div>

{{ end }}
