body {
    background-color: #0f0f0f;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 110%;
}

pre, code {
    font-size: 1.3rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}


h2 {
	font-size: 2.5rem;
	padding-top: 1.5rem;
    border-bottom: 2px solid #aaa;	
}

p, ul {
   font-size: 1.3rem; 
   line-height: 2rem;
   margin-top: 0;
}

a {
   text-decoration: none;
   border-bottom: 0.2rem solid #b5cfe6; 
}

a:hover {
   text-decoration: none;
   border-bottom: 0.2rem solid #E6B5CF; 
}
.container {
    color: #dadada;
    font-family: "Ubuntu", sans-serif;
}
.split {
    height: 0.3rem;
}

.topic-button-img-main {
    background-repeat: no-repeat;
    background-size: cover; 
    height: auto;
    position: relative;
}

.topic-button-img-darken {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.topic-button-text {
    font-size: 3rem;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    margin: 0 auto;
    padding: 8rem 2rem 8rem 2rem;
    text-align: center;
    text-shadow: 0 0.2rem 0.4rem #000;
}

.topic-button {
    text-decoration: none;
}

.profile-img-back{
    border-radius: 50%; 
    border: 0.25rem solid #555555;
}

.profile {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    text-align: center;
}

.profile-text{
    font-size: 2rem;
    color: #dadada;
}

.profile-subtext {
    font-size: 1.5rem;
    color: #888888;
}

footer {
    font-family: "Inconsolata", sans-serif;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-copyright-text {
    font-size: 1.5rem;
    color: white;
    
}

.showcase-img-wrapper {
    height: auto;
    position: relative;
}

.showcase-img {
    width: 100%;
}

.showcase-title {
    font-family: "Inconsolata", sans-serif;
    color: white;
    text-align: center;
}

.showcase-text {
   padding: 0 2rem;
}

.showcase-embed {
    position: relative;
    margin: 0 auto;
    padding-bottom: 28rem;
}

.showcase-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.blog-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    max-width: 50rem;
}

.blog-body img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.blog-container {
    background-color: #dfdfdf;
    color: #0f0f0f;
    font-family: "Verdana", sans-serif;
}

.blog-content-title {
    margin: 0;
    font-size: 4rem;
}

.blog-content-date {
    color: #777777;
    margin: 0;
}


.blog-list-content-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.blog-list-content-title {
    margin: 0;
}

.blog-list-content-date {
    color: #777777;
    margin: 0;
}

.blog-list-content-seperator {
    border: 1px dashed rgb(169, 169, 169);
}

.footer-copyright-text {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    
}


/* Desktops */
@media screen and (min-width:1200px){

    .container {
        color: #dadada;
        font-family: "Ubuntu", sans-serif;
        max-width: 50rem;
        margin: 0 auto;
    }

    .showcase-text {
       padding: 0 1rem;
    }

    .profile-text{
        font-size: 1.75rem;
        color: #dadada;
    }

    .profile-subtext {
        font-size: 1.3rem;
        color: #888888;
    }


    .topic-button-text {
        font-size: 2.5rem;
        position: relative;
        font-family: "Ubuntu", sans-serif;
        margin: 0 auto;
        padding: 8rem 2rem 8rem 2rem;
        text-align: center;
        text-shadow: 0 0.2rem 0.4rem #000;
    }

    .footer-copyright-text {
        font-size: 1.5rem;
        color: white;
        
    }

}


