:root {
  --font: "Fira Mono", monospace;

  --bg0: #111111;
  --bg1: #222222;
  --fg: #eeeeee;

  --green: #d5dfa7;
  --pink: #dfa7d5;
  --blue: #a7d5df;

  --purple: #d3869b;
  --purple_bg: #c882c6;

  --text_strips_color1: #d0a8cf;
  --text_strips_color2: #c28dc0;
}

@font-face {
  font-family: "pixel nes";
  src: url("/font/pixel_nes.otf");
}

@keyframes text_strips 
{
  0%, 33% {
    background-image: linear-gradient(var(--text_strips_color1), var(--text_strips_color1) 50%, var(--text_strips_color2) 50%, var(--text_strips_color2));
    background-size: 100% 6px;
    background-clip: text;
    color: transparent;
  }
  34%, 66% {
    background-image: linear-gradient(var(--text_strips_color2), var(--text_strips_color2) 33%, var(--text_strips_color1) 33%, var(--text_strips_color1) 66%, var(--text_strips_color2) 66%, var(--text_strips_color2) 100%);
    background-size: 100% 6px;
    background-clip: text;
    color: transparent;
  }
  67%, 100% {
    background-image: linear-gradient(var(--text_strips_color2), var(--text_strips_color2) 50%, var(--text_strips_color1) 50%, var(--text_strips_color1));
    background-color: #ff0000;
    background-size: 100% 6px;
    background-clip: text;
    color: transparent;
  }
}

@keyframes flicker
{
  0%, 89% {
    opacity: 1;
  }
  90%, 91% {
    opacity: 0.5;
  }
  92%, 93% {
    opacity: 1;
  }
  94%, 95% {
    opacity: 0.5;
  }
  96%, 100% {
    opacity: 1;
  }
}

#container {
  width: 900px;
  margin: 0px auto;
}

#title {
  font-size: 60px;
  letter-spacing: 5px;
  font-family: "pixel nes";
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 20px, rgba(224, 0, 230, 0.35) 0px 0px 30px, rgba(0, 230, 178, 0) 0px 0px 40px, rgba(0, 230, 189, 0.24) 0px 0px 50px, rgba(178, 0, 230, 0.16) 0px 0px 60px, rgba(167, 0, 230, 0.34) 0px 0px 70px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--pink);
  animation: 3s infinite flicker, 1s infinite text_strips;
}

body {
  background: var(--bg0);
  color: var(--fg);
  font-family: var(--font);
}

h1, h2, h3, h4, h5 {
  display: inline;
}
.box {
  background: var(--bg1);
  border: 2px solid rgb(56, 56, 56);
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px;
}

.box > h2 {
  padding: 0px;
  font-family: "pixel nes";
  animation: 0.75s linear infinite text_strips;
}

#main_col {
  width: 675px;
  vertical-align: baseline;
}

#side_col {
  width: 325px;
  vertical-align: baseline;
}
