:root
{
  --green: #98c379;
  --yellow: #e5c97b;
  --blue: #61afef;
  --bg: #282c34;
  --fg: #abb2bf;
  --aqua: #56b6c2;
  --purple: #c678dd;
}

@font-face 
{
  font-family: "Luciole";
  src: url("/font/luciole.ttf");
}

@font-face 
{
  font-family: "Source Code Pro";
  src: url("/font/source_code_pro.ttf");
}

body {
  font-family: "Source Code Pro";
  background: var(--bg);
}

#title {
  font-size: 60px;
  text-align: center;
  color:var(--purple);
}

#title>a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--green);
}

a:hover {
  text-decoration: underline;
}

h1 {
  color:var(--aqua);
  font-weight: normal;
}

.dot {
  border: 1px dashed;
}

#container {
  width: 900px;
  margin: 0px auto;
  border: 1px;
  color: var(--fg);
}


