:root 
{
  --font: "Source Code Pro", monospace;
  --fg: #4a5759;
}

@font-face 
{
  font-family: "Source Code Pro";
  src: url("/font/source_code_pro.ttf");
}

body {
  font-family: var(--font);
  color: var(--fg);
  background-color: #dedbd2;
}

#container 
{
  background-color: #f7e1d7;
  width: 900px;
  margin: 0px auto;
  padding: 30px;
}

#title {
  font-size: 30px;
  text-align: center;
}

#nav {
  display: flex;
  justify-content: center;
  flex-basis: auto;

}

#nav > div
{
  flex: 1;

  border: 2px solid;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

#gallery_h
{
  column-count: 2;
  column-gap: 0px;
}

#gallery_v
{
  column-count: 4;
  column-gap: 0px;
}

.gallery_img
{
  width : 100%;
}

.gallery_img:hover
{
  cursor: pointer;
}

#nav > div:hover
{
  background-color:yellow;
  cursor: pointer;
}

#sub_title {
  color: #888888;
  font-size: 24px;
  text-align: center;
}


h1 {
  text-align: center;
}

#profile
{
  padding-top:20px;
  padding-bottom:20px;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 40%;
  border-radius: 50%;
}

.smol_line {
  width: 10%;
  border: 2px solid #000000;
}

hr {
  width: 50%;
}
