:root 
{
  --bg_dim: #232634;
  --bg: #292c3c;
  --fg: #c6d0f5;
  --red: #e78284;
  --orange: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --aqua: #83c092;
  --blue: #8caaee;
  --purple: #f4b8e4;
  --white: #9da9a0;
  --grey: #7a8478;

  --font: "Source Code Pro", monospace;

  --title: var(--purple);
  --link: var(--green);
  
}

@font-face 
{
  font-family: "Source Code Pro";
  src: url("/font/source_code_pro.ttf");
}

* {
    margin: 0;
    padding: 0;
} 

body 
{
  background-color: var(--bg_dim);
  font-family: var(--font);
}

section 
{
  border-radius: 2px;
  padding: 10px;
}

.section-test
{
  border: 2px solid var(--white);
  text-align:center;

}

.section-white
{
  border: 2px solid var(--white);
}

.section-white > h1
{
  color: var(--white);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}

.section-green
{
  border: 2px solid var(--green);
}

.section-green > h1
{
  color: var(--green);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}

.section-green > p > a
{
  color: var(--green);
}

.section-purple
{
  border: 2px solid var(--purple);
}
.section-purple > p > a
{
  color: var(--purple);
}

.section-purple > h1
{
  color: var(--purple);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}
.section-orange
{
  border: 2px solid var(--orange);
}

.section-orange > h1
{
  color: var(--orange);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

#content {
  background-color: var(--bg);
  color: var(--fg);

  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}

#title {
  color: var(--title);
  font-size: 15px;
  text-align: center;
}

.seperator {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--grey);
}

section > hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link);
  text-decoration: underline;
}

h1 {
  color: var(--yellow);
  margin: 0 auto;
}

h2 {
  color: var(--purple);
  margin: 0 auto;
}


img {
  max-width:100%
}





