:root 
{
  --super_bg: #181818;
  --bg: #282828;
  --fg: #ddc7a1;
  --red: #ea6862;
  --orange: #e78a4e;
  --yellow: #d8a657;
  --green: #a9b667;
  --aqua: #89b482;
  --blue: #7daea3;
  --purple: #d3869b;
  --white: #c6c6c6;

  --font: "Source Code Pro", monospace;

  --title: var(--yellow);
  --link: var(--purple);
  
}

@font-face 
{
  font-family: "Source Code Pro";
  src: url("/font/source_code_pro.ttf");
}

* {
    margin: 0;
    padding: 0;
} 

body 
{
  background-color: var(--super_bg);
  font-family: var(--font);
}

section 
{
  border-radius: 2px;
  padding: 10px;
}

.section-white
{
  border: 2px solid var(--white);
}

.section-white > h1
{
  color: var(--white);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}

.section-green
{
  border: 2px solid var(--green);
}

.section-green > h1
{
  color: var(--green);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}

.section-purple
{
  border: 2px solid var(--purple);
}

.section-purple > h1
{
  color: var(--purple);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}
.section-orange
{
  border: 2px solid var(--orange);
}

.section-orange > h1
{
  color: var(--orange);
  font-weight: normal;
  font-size: 1.1em;
  background-color: var(--bg);
  display: inline-flex;
  position: absolute;
  margin-top: -1.4em;
  padding: 0 6px;
  margin-left: 5px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

#content {
  background-color: var(--bg);
  color: var(--fg);

  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}

#title {
  color: var(--title);
  font-size: 60px;
  text-align: center;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

section > hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link);
  text-decoration: underline;
}

h1 {
  color: var(--yellow);
  margin: 0 auto;
}

h2 {
  color: var(--purple);
  margin: 0 auto;
}


img {
  max-width:100%
}





