{{ define "main" }}

<div id="title"> {{ .Title }} </div>

<div id="grid">
  <div id="side-col">
    <div class="box">{{ partial "nav.html" }}</div>

  </div>
  <div id="main-col">
    <div class="box">
      <span class="title">BLOG</span>
      <div class="content">

        {{ if eq .RelPermalink "/blog/" }}

          {{ $allPosts := slice }}
          {{ with .Site.GetPage "/blog/dev" }}
            {{ $allPosts = $allPosts | append .RegularPages }}
          {{ end }}
          {{ with .Site.GetPage "/blog/games" }}
            {{ $allPosts = $allPosts | append .RegularPages }}
          {{ end }}
          {{ with .Site.GetPage "/blog/yaps" }}
            {{ $allPosts = $allPosts | append .RegularPages }}
          {{ end }}

          {{ $sortedPosts := sort $allPosts ".Date" "desc" }}

          {{ range $sortedPosts }}
          <!-- @todo: make into partial? -->
          <article id="blog-list-content">
            <header>
              <div>
                <a class="blog-title" href="{{ .RelPermalink }}"> {{.Title}} </a>
              </div>

              <span class="blog-date">
                <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                  {{ .Lastmod.Format "Jan 2, 2006" }}
                </time>
              </span>
              <span> - </span>
              <span class="blog-page"> 
                <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
              </span>
              <!-- <div class="blog_tag">{{ index ( .Params.tags) 0 }} </div> -->
            </header>
            <div class="blog-body">
              {{ .Summary }}
            </div>

            <hr class="blog-divider">
          </article>

          {{ end }}

        {{ else }} 
          {{ range .RegularPages }}
          <article id="blog-list-content">
            <header>
              <div>
                <a class="blog-title" href="{{ .RelPermalink }}"> {{.Title}} </a>
              </div>

              <span class="blog-date">
                <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                  {{ .Lastmod.Format "Jan 2, 2006" }}
                </time>
              </span>
              <span> - </span>
              <span class="blog-page"> 
                <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
              </span>
            </header>
            <div class="blog-body">
              {{ .Summary }}
            </div>

            <hr class="blog-divider">
          </article>

          {{ end }}
        {{ end }}
      </div>
    </div>

  </div>
</div>


{{ end }}
