{{ define "main" }}

<!--<div> hello </div>-->
<div class="blog-container">
    <div class="blog-body">
        {{ range .Pages }}
         <article class="blog-list-content">
            <header>
                <div class="blog-title"><a href="{{ .RelPermalink }}"> {{.Title}} </a></h1>
                <div class="blog-date-tag-wrapper">
                    <div class="blog-date">
                        <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                            {{ .Lastmod.Format "Jan 2, 2006" }}
                        </time>
                    </div>
                    <div class="blog-tag">{{ index ( .Params.tags) 0 }} </div>
                </div>
            </header>
            <div class="blog-body">
                {{ .Summary }}
            </div>

            <hr class="blog-list-content-seperator">
        </article>
             
        {{ end }}

    </div>

</div>

{{ end }}
