
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <title>moom</title>

  </head>

  <body>
    <div id="container">
      <div id="title">momo</div>
      <div id="grid">
        <div id="main-col">
          <div id="about" class="box">
            {{ with .GetPage "about.md" }} 
            <div class="box-title">{{ .Title }}</div>
            <div class="box-content">{{.Content}}</div>
            {{ end }} 
          </div>
          <div id="projects" class="box">
            {{ with .GetPage "projects.md" }} 
            <div class="box-title">{{ .Title }}</div>
            <div class="box-content">{{.Content}}</div>
            {{ end }} 
          </div>
          <div id="blog" class="box">
            <div class="box-title">yappening</div>
            <p>
            💬 yaps - 
            {{ range $i, $p := ((site.GetPage "blog/yaps").RegularPages | first 5) }}
            <a href= {{ $p.Permalink }} >{{ $p.Title }}</a> 
            {{ if ne $i 4 }} • {{ end }}
            {{ end }}
            </p>
            <p>
            🎮 games -
            {{ range $i, $p := ((site.GetPage "blog/games").RegularPages | first 5) }}
            <a href= {{ $p.Permalink }} >{{ $p.Title }}</a>
            {{ if ne $i 4 }} • {{ end }}
            {{ end }}
            </p>
            <p>
            🛠️  tech -
            {{ range $i, $p := ((site.GetPage "blog/tech").RegularPages | first 5) }}
            <a href= {{ $p.Permalink }} >{{ $p.Title }}</a>
            {{ if ne $i 4 }} • {{ end }}
            {{ end }}
            </p>
          </div>
        </div>

        <div id="side-col">
          <div id="links" class="box">
            {{ with .GetPage "links.md" }}
            <div class="box-title">{{ .Title }}</div>
            <div class="box-content">{{.Content}}</div>
            {{ end }}
          </div>
          <div id="music" class="box">
            <h2>music</h2>
            <div id="music_container">

            </div>
          </div>
        </div>


      </div>
    </div>


    <script src="/js/index.js"></script>
  </body>
</html>

