
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <title>moom</title>

  </head>

  <body>
    <div id="container">
      <div id="title">momo</div>
      <div id="grid">
        <div id="main_col">
          <div id="about" class="box">
            {{ with .GetPage "about.md" }} 
            <h2>{{ .Title }} </h2><br>
            {{ .Content }} 
            {{ end }} 
          </div>
          <div id="projects" class="box">
            {{ with .GetPage "projects.md" }} 
            <h2>{{ .Title }} </h2><br>
            {{ .Content }} 
            {{ end }} 
          </div>
        </div>
        <div id="side_col">
          <div id="links" class="box">
            {{ with .GetPage "links.md" }}
            <h2>{{ .Title }} </h2>
            {{ .Content }} 
            {{ end }}
          </div>
        </div>
      </div>
    </div>


  </body>
</html>

