{{ define "title" }} {{ .Title }} {{ end }} 

{{ define "main" }}

<div class="container">
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/about" "Img" "img/about.jpg" "Text" "About" )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/projects"  "Img" "img/projects.jpg" "Text" "Personal Projects"  )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/industry"  "Img" "img/industry.jpg"  "Text" "Industry Projects"    )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/student" "Img" "img/student.jpg" "Text" "Student Projects"  )}} 
    <div class="split"></div>
    {{ partial "main-topic-button" (dict "Link" "/blog" "Img" "img/blog.jpg" "Text" "Blog"  )}} 
</div>

{{ end }}
