body {
    font-family: "Ubuntu", sans-serif;
    background-color:#94daff;
    font-size: 18px;
    color: rgb(37, 37, 37);
}

.navbar {
    width: 80%
}
.section-title {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid;
}
.section {
    padding-top: 48px;
}
.container {
    width: 80%;
    margin: auto;
}
.section-content {
    padding-top: 16px;
    padding-bottom: 16px;
}


.no-margin {
    margin: 0
}

h1, h2, h3 {
    font-weight: bold
}

.content {
    max-width:2000px; 
}

.profile-back{
    background-color:#1e80b4;
    padding-top: 25px;
}
.profile {
    margin-top: 25px;
    border-radius: 50%; 
    border-width: 2px; 
    border: 5px solid #000000
}
.profile-text{
    padding-bottom: 25px;
    font-size: 24px
}

footer {
    background-color: #1b262c;
    font-family: "Inconsolata", sans-serif;
    color: white;
}

.footer-text {
    font-size: 24px;
}

.footer-copyright-text {
    font-size: 20px;
    color: white;
    
}

.button-resume {
    font-family: "Ubuntu", sans-serif;
    background-color:rgb(245, 245, 245);
    font-size: 24px;
    color: rgb(37, 37, 37);
    border-color: black;
    cursor: pointer;
}

.button-resume:hover {
    background-color:rgb(110, 110, 110);
    color: rgb(245, 245, 245);
    border-color: black;
}

.work-button-container {
    padding: 8px;
}

.work-button-link-a {
    text-decoration: none;
}

.work-button-link-img {
    width: 100%;
    display: block;
    height: auto;
    max-width: 360px;
    border: 2px solid #4d4d4d;
    margin-left: auto;
    margin-right: auto;
}

.work-button-link-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0));
    width: 95%;
    height: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.work-button-link-text {
    position: relative;
    top: 5%;
    color: white;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}
