body {
    font-family: "Ubuntu", sans-serif;
    background-color: #bbe1fa;
    font-size: 18px;
    color: #091f2e;
}

.section1 {
    background-color: #bbe1fa;
}

.section2 {
    background-color: #9ed6fc;
}

h1, h3 {
    font-weight: bold
}

.content {
    max-width:2000px; 
}

.profile-back{
    background-color:#3282b8;
    padding-top: 25px;
}
.profile {
    margin-top: 25px;
    border-radius: 50%; 
    border-width: 2px; 
    border: 5px solid #000000
}
.profile-text{
    padding-bottom: 25px;
    font-size: 24px
}

footer {
    background-color: #1b262c;
}

.footer-text {
    font-size: 24px;
    color: white;
    font-family: "Inconsolata", sans-serif;
}

.footer-copyright-text {
    font-size: 20px;
    color: white;
    font-family: "Inconsolata", sans-serif;
}

.portfolio-img-container {
    position: relative;
    width: 100%;
}
.portfolio-img{
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px solid #000000
}

.portfolio-img-overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.portfolio-img-overlay-text{
    transition: .5s ease;
    background-color: rgb(73, 77, 73);
    color: white;
    font-size: 18px;
    padding: 8px 8px;
    position: relative;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.portfolio-img-overlay-text:hover{
    background-color: rgb(206, 206, 206);
    color: black;
    font-size: 18px;
    padding: 8px 8px;
    position: relative;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    
}

.portfolio-img-overlay-link {
    display: block; 
    height:100%;
}

a:hover {
    color: grey
}

.portfolio-img-container:hover .portfolio-img {
    opacity: 0.3;
}
  
.portfolio-img-container:hover .portfolio-img-overlay{
    opacity: 1;
}